
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 21%;
}

#container strong {
  font-size: 25px;
  line-height: 26px;
}

ion-list{background:rgba(185, 185, 185, 0);}
ion-item {
  --border-radius: 1rem;
  margin-top: 1rem;
}
img {border-radius: 20rem;}
ion-modal p {color: gray;}
ion-modal h3 {color: rgb(0, 128, 255);}
ion-modal .contenedor-info {margin-top: 1.5rem}
ion-modal img {height: 12rem;margin-top:0.5rem}
ion-modal ion-content{text-align: center;}
ion-modal ion-icon {margin-right: 10px}
ion-modal .icon-skull {color:rgb(195, 2, 2);font-size: 2rem;}
ion-modal .icon-heart {color:rgb(9, 215, 126);font-size: 2rem;}
ion-modal .contenedor-name{
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-alert {
  text-align: center;
}

.black-button {--background: rgba(51, 32, 32, 0.199); margin:10px;}
.blue-button {--background: rgba(8, 18, 26, 0.199);margin:10px;}
